@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #8cccff;
}

.box{
    position: relative;
    width: 300px;

}

.box .inputbox{
    position: relative;
    width: 100%;
    background: #fff;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 15px 25px rgba(0 , 0, 0, 0.15);

}

.box .inputbox input{
    position: relative;
    width: 95%;
    outline: none;
    border: none;
    padding: 10px 5px;
}

#toggle{
    position:absolute;
    right: 10px;
    top: 8px;
    width: 34px;
    height: 34px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#toggle::before{
    content: '\f06e';
    font-family: fontAwesome;
}

#toggle.hide::before{
    content: '\f070';
    font-family: fontAwesome;
}

.validation{
    background: #376488;
    padding: 10px;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0 15px 25px rgba(0 , 0, 0, 0.15);
}

.validation ul{
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 8px;
}

.validation ul li{
    position: relative;
    list-style: none;
    color: #fff;
    font-size:0.85em;
    transition: 0.5s;
}

.validation ul li::before{
    content: '\f192';
    font-family: fontAwesome;
    width: 20px;
    height: 10px;
    display: inline-flex;
}

.validation ul li.valid{
    color: rgba(255, 255, 255, 0.5);
}

.validation ul li.valid::before{
    content: '\f00c';
    color: #0f0;
}